/* -------------------- FONTS -------------------- */
@font-face {
  font-family: EBGaramond;
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

/* -------------------- STYLES -------------------- */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensures full width */
  background-color: #ffffff; /* Changed background color to white */
  font-family: "EBGaramond", Garamond, serif;
  font-size: 1.4rem;
  position: relative; /* Allows absolute positioning of the image */
  padding: 0.5em 0.5em 7vh; /* Increase bottom padding to 15vh while keeping others at 1em */
  box-sizing: border-box; /* Ensures padding is included in the total width and height */
  overflow: hidden; /* Prevent overflow */
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  left: 50vw;
}

#random-image {
  position: absolute; /* Position image absolutely within the viewport */
  display: block;
  max-width: none; /* Remove max width for random sizing */
  max-height: none; /* Remove max height for random sizing */
  object-fit: contain; /* Ensures the image maintains aspect ratio */
}

.about-container {
  position: relative;
}

.info {
  position: absolute;
  left: 50vw;
  top: 15px;
  right: 15px;
}

.statement {
  position: absolute;
  left: 50vw;
  top: 15px;
  right: 15px;
  color: white; /* Default text color; should be the same as the background color */
}

.statement span {
  display: block;
  margin-bottom: 0em; /* Adjust the margin as desired */
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 600px) {
  body {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  #random-image {
    max-width: 80%; /* Ensure images don't overflow on mobile */
  }

  .info,
  .statement,
  .statement span {
    left: 15px;
    margin: 0;
    padding: 0;
  }

  footer {
    left: 15px;
  }
}
