/* -------------------- FONTS -------------------- */
@font-face {
  font-family: Minion;
  src: url(../fonts/MinionPro-Regular.otf);
}

/* -------------------- STYLES -------------------- */
body {
  font-family: "Minion", Times, serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  padding-bottom: 30px;
}

.image {
  display: none;
  position: relative;
  padding: 15px;
  /* max-width: 20vw; */
  object-fit: contain;
}

.trigger-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  justify-content: stretch;
  align-items: stretch; /* Add this line to stretch the triggers vertically */
  height: 90vh;
}

.trigger {
  flex: 1 0 auto; /* Change flex properties to allow stretching */
  min-width: 150px;
  margin: 10px;
  /* background-color: yellow; */
  opacity: 20%;
  mix-blend-mode: multiply;
}

/* Additional styles if needed */

footer {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  left: 60vw;
}

.about-container {
  position: relative;
}

.info {
  position: absolute;
  left: 60vw;
  top: 15px;
  right: 15px;
}

.statement {
  position: absolute;
  left: 60vw;
  top: 15px;
  right: 15px;
  color: white;
}

.statement span {
  display: block;
  margin-bottom: 0.5em; /* Adjust the margin as desired */
}
